@model object

@{
    Layout = null;
    
    Func<string, string> upper = ((s) => s.ToUpper());
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        Hello @upper("Hello")!
    </div>
</body>
</html>
