@model object

@{
    Func<string, string> upper = ((s) => s.ToUpper());
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        Hello @upper("Roslyn")!
    </div>
</body>
</html>
